@charset "utf-8";

/*! 04-slider.css */

body {margin:0;padding:0;background-color:#f4f4f4;body font-family: "Spoqa Han Sans", "Spoqa Han Sans JP", "Source Sans Pro", Apple SD Gothic Neo, Nanum Barun Gothic, Nanum Gothic, Verdana, Arial, Dotum, sans-serif; font-size: 14px; line-height: 1.5; color: #4d5256; font-weight: 400; -webkit-font-smoothing: antialiased; word-break: keep-all; }
.wrap {margin:0;padding:0;width:900px;margin:30px auto 0;}
.h_tit {margin:0;padding:0;text-align:left;font-weight:400;font-size:42px;line-height:42px;}
.h_txt {margin:15px 0 0;padding:0;}

/* image slider */
.img_slider {position:relative;margin-top:15px;}
.img_wrap {}
.img_wrap .img {display:none;}
.img_wrap .img.active {display:block;}
.ico_indicator {position:absolute;bottom:5px;right:10px;}
.ico_indicator .ico_circle {display:inline-block;width:15px;height:15px;text-indent:-9999px;border:1px solid #fff;border-radius:50%;}
.ico_indicator .ico_circle.active {background-color:#fff;}


